.quarto {
    display: flex;
    width: 95%;
    margin: 0 auto;
    background-color: #f9f8f9;
}

.quarto input {
    width: 375px;
    height: 44px;
    background-color: transparent;
    border: none;
}

.quarto p {
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.4);
}