@import url("/styles/components/search.css");
@import url("/styles/components/text.css");
@import url("/styles/components/chat.css");
@import url("/styles/components/send.css");

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

input {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}